body{
   background-color: azure; 
}

.kozep{
    margin: auto;
}

.fejlec{
    border-bottom: medium darkgreen solid;
    height: 50px;
}
.tartalom{
    width: 800px;
}

#vers{
}

.lista{
text-align:center;
font-size: large;
font-weight: bold;
padding: 10px;
}
a.hover{
text-decoration:none;
}